<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owenandroid.keepeye">
    <!--查看log-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name="com.owenandroid.keepeye.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--主界面-->
        <activity android:name="com.owenandroid.keepeye.MainActivity"/>
        <!--设置-->
        <activity android:name="com.owenandroid.keepeye.ui.SettingActivity"
            android:label="@string/setting"/>
        <!--引导页-->
        <activity android:name="com.owenandroid.keepeye.ui.GuideActivity"
            android:theme="@style/FullScreamTheme"/>
        <!--闪屏页,设置为程序入口-->
        <activity android:name="com.owenandroid.keepeye.ui.FlashActivity"
            android:theme="@style/FullScreamTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity android:name="com.owenandroid.keepeye.ui.LoginActivity"
            android:label="@string/login"/>
        <!--注册-->
        <activity android:name="com.owenandroid.keepeye.ui.RegisterActivity"
            android:label="@string/register"/>
        <activity android:name="com.owenandroid.keepeye.ui.ForgetActivity"
            android:label="@string/reset_pwd"/>
        <activity android:name="com.owenandroid.keepeye.ui.InfoActivity"
            android:label="@string/user_info"/>
        <activity android:name="com.owenandroid.keepeye.ui.ExpressActivity"
            android:label="@string/check_express"/>
        <activity android:name="com.owenandroid.keepeye.ui.PhoneActivity"
            android:label="@string/check_phont"/>
        <activity android:name="com.owenandroid.keepeye.ui.ArticleContentActivity"/>
    </application>

</manifest>